<% content_for :login_path do %><%= home_login_path %><% end %>
<% content_for :logged_in_page_nav do %><%= link_to "My Account", myaccount_path, style: "color:#A6A6A6" %><% end %>

<p>
	<h1>
	<% #@current_auction.id %>
	</h1>
	
	<h1>
	<% #image_tag @current_item.headline_image.url %>
	</h1>
	
</p>