<h1>Editing item</h1>

<%= render 'form' %>

<%= link_to 'Edit', "#", onclick: "window.item_form.submit()", :class => "btn btn-primary" %>
<%= link_to 'Cancel', view_my_auctions_path, :class => "btn btn-primary" %>