// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#home_container {
	display:flex;
	justify-content:center;
	padding-top:20px;
	padding-bottom:20px;
}

#home_auction {
	height:60vh;
	width:80vw;
	background-color:#A6A6A6;
	border-radius:6px;
}